

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.page-content, .admin-page, .login-container {
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
    padding: 2rem 0;


    height: auto !important;
    overflow: visible !important;
    flex: 1;
}


img, video {
    max-width: 100%;
    height: auto;
    display: block;
}